<div class="bg--img" style="background-image: url('{{site.img}}/content/promo-havaianas.jpg');">
  <div class="container">
    <div class="row row--xl-6-6 row--no-gutters boxpad--xl">
      <div class="col">
        <div class="vpad--xxxl text--white">
          <h2 class="title title--xl text--bold">Havaianas</h2>
          <p class="text--xl text--bold">The original, iconic footwear from Brazil. Havaianas represent comfort, happiness and freedom in the most simple and stylish form – a travel essential for everyone.</p>
          <div class="space--md"></div>
          <a id="track-btn-havaianas-banner" href="#" class="btn btn--solid">Find out more</a>
          <div class="space--md"></div>
        </div>
      </div><!-- end content .col -->
      <div class="col"></div>

    </div>
  </div>
</div>