<div class="harvey bg--white">
  <div class="harvey__img bg-img bg-img--1-1" style="background-image: url('{{site.img}}/content/promo-havaianas.jpg');"></div>

  <div class="harvey__text text--center">
    <h2 class="title title--xxl text--bold">Havaianas</h2>
    <div class="container container--no-padding container--lg">
      <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="space--md"></div>
      <a id="track-btn-havaianas-banner" href="#" class="btn btn--solid">Find out more</a>
    </div>
  </div>
</div>