// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-height: 450px;
  max-height: 700px;
  color: $white;
  background-color: $grey;
  @include bp($lg){
    height: 85%;
    min-height: 650px;
    max-height: none;
  }

  &--sm {
    height: 33.333%;
    min-height: 300px;
    @include bp($lg){
      height: 66.7%;
      min-height: 500px;
    }
  }

  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include page-padding;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(68,54,35,0.13);
  }
  &__nav {
    // optional container for navigation include
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;
    &--top {
      top: 0;
      bottom: auto;
    }
  }

  &__wave {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: -1px;
    left: 0; right: 0;
    display: block;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 6%;
    }
    &--city { background-image: url(../img/icons/wave-city.svg); }
    &--tropical { background-image: url(../img/icons/wave-tropical.svg); }
    &--adventure { background-image: url(../img/icons/wave-adventure.svg); }
    &--overview {
      background-image: url(../img/icons/wave-overview.svg);
      &:before { padding-top: 13.5%; }
    }
  }
}