// general styles for the project that wouldn't be a reuseable component



// overview page section
.section {
  position: relative;
  &__title {}
  &__content {}
  &__offers {}
  // stylistic
  &__gallery {
    position: relative;
    &-product {
      position: absolute;
      left: 2em; top: 4em;
      width: 60%;
      z-index: 2;
    }
    &-image {
      position: absolute;
      right: 2em; top: -2em;
      width: 50%;
      z-index: 1;
      box-shadow: 5px 30px 60px rgba(0, 0, 0, 0.15);
    }
    &-color {
      width: 100%;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 66.667%;
      }
      &-box {
        transition: all 1s cubic-bezier(0.8,.1,.66,1);
        position: absolute;
        left: 20%;
        top: 0; bottom: 0;
        width: 0;
        box-shadow: 5px 30px 60px rgba(0, 0, 0, 0.15);
        .is-active & { width: 80%; }
      }
    }
  }
  // colors
  &--city {
    .section__gallery-color-box { background-color: $page-city; }
    & .btn {
      background-color: $page-city;
      &:hover { background-color: darken($page-city,10); }
    }
  }
  &--tropical {
    .section__gallery-color-box { background-color: $page-tropical; }
    & .btn {
      background-color: $page-tropical;
      &:hover { background-color: darken($page-tropical,10); }
    }
  }
  &--adventure {
    .section__gallery-color-box { background-color: $page-adventure; }
    & .btn {
      background-color: $page-adventure;
      &:hover { background-color: darken($page-adventure,10); }
    }
  }
}


// pages color theme
.page {
  &--city {
    .title--highlight:after { background-color: $page-city; }
  }
  &--tropical {
    .title--highlight:after { background-color: $page-tropical; }
  }
  &--adventure {
    .title--highlight:after { background-color: $page-adventure; }
  }
}



// product tiles
.product {
  @include transition;
  padding: 0.5em;
  background-color: $white;
  box-shadow: 0 2px 10px rgba($grey-darkest, 0.1);
  transform: scale(1) rotate(0deg);
  &:hover {
    box-shadow: 0 10px 30px rgba($grey-darkest, 0.1);
    transform: scale(1.05) rotate(-1deg);
  }
  &__image {
    border: 2px solid $grey-lightest;
  }
  &__text {
    text-align: center;
    padding: 0.5em $s2 0.3em;
  }
}