---
layout: default
---
{% assign offers = site.data.offers | where: 'category', page.id %}
{% assign products = site.data.products | where: 'category', page.id %}



<div class="bg--white">

  <div class="container text--center vpad--lg">
    <h1 class="title title--xxxxl text--lower text--italic text--color-{{page.id}}">{{page.title}}</h1>
    <div class="space--xxl"></div>
    <div class="container container--xxl">
      {{page.intro}}
    </div>
  </div>

  <hr class="hr--center">

  <div class="container vpad--lg">
    <div class="text--center">
      <h3 class="title title--md text--upper text--bold">Editor's pick</h3>
      <div class="space--lg"></div>
    </div>
    {% for offer in offers %}
      {% if offer.editors-pick %}
        {% include offer/offer-lg.html %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="space--xxl"></div>
</div>



<div class="bg--grey-lightest ">



  <div class="products container">

    <div class="products__intro">

      <div class="products__intro-text">
        <h3 class="title title--md text--bolder text--upper">
          <img src="{{site.img}}/logo/partner.svg" style="max-width: 160px;" alt="Havaianas">
        </h3>
        <div class="space--lg"></div>
        <h4 class="title title--xs text--bold text--upper">{{page.havaianas.title}}</h4>
        <p class="text--lg">{{page.havaianas.intro}}</p>
        <div class="space--md"></div>
        <a href="{{page.havaianas.link}}" class="btn btn--solid">View all products</a>
      </div>

      <div class="products__intro-image">
        <div class="bg-img bg-img--1-1 js-plx" data-plx="0.1" style="background-image: url({{site.img}}/content/{{page.id}}/products.jpg);"></div>
      </div>
    </div>

    <div class="vpad--lg width--xxl">
      <div class="row row--xl-4-4-4 row--constant-6-6">
        {% for product in products %}
          <div class="col">
            <a href="{{product.link}}" class="product">
              <div class="product__image">
                <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/{{page.id}}/products/{{product.id}}.jpg);"></div>
              </div>
              <div class="product__text">
                <h5 class="title title--xxxs text--tight-kern text--bolder">{{product.title}}</h5>
                <div class="text--sm space--xxs">
                  <span class="text--bold">{{product.description}}</span>
                  {% if product.price%} | <span class="text--bold">£{{product.price}}</span>{% endif %}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

  </div><!-- end products -->



  <div class="container vpad--xl">
    <div class="text--center">
      <h3 class="title title--xl text--bold">{{page.id}} offers</h3>
      <div class="space--xl"></div>
    </div>
    <div class="row row--xl-6-6 row--gutters-lg">
      {% for offer in offers %}
        <div class="col">
          {% include offer/offer.html %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include page/promo-offers.html %}

{% include page/promo-havaianas.html %}

