---
layout: default
---
{% assign offers = site.data.offers | where: 'category', page.id %}
{% assign products = site.data.products | where: 'category', page.id %}



<div class="bg--white">

  <div class="container text--center vpad--lg">
    <h1 class="title title--xxxxl text--lower text--italic text--color-{{page.id}}">{{page.title}}</h1>
    <div class="space--xxl"></div>
    <div class="container container--xxl">
      {{page.intro}}
    </div>
  </div>

  <hr class="hr--center">

  <div class="container vpad--lg">
    <div class="text--center">
      <h3 class="title title--md text--upper text--bold">Editor's pick</h3>
      <div class="space--lg"></div>
    </div>
    {% for offer in offers %}
      {% if offer.editors-pick %}
        {% include offer/offer-lg.html %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="space--xxl"></div>
</div>



<div class="bg--grey-lightest">

  <div class="container container--xxl vpad--xxl">

    <div class="text--center">
      <h3 class="title title--md text--bolder text--upper">
        <img src="{{site.img}}/logo/partner.svg" style="max-width: 200px;" alt="Havaianas">
      </h3>
      <div class="space--sm"></div>
      <p class="text--xl">{{page.havaianas.intro}}</p>
    </div>

    <div class="vpad--lg">
      <div class="row row--xl-4-4-4">
        {% for product in products %}
          <div class="col">
            <a href="{{product.link}}" class="product">
              <div class="product__image">
                <div class="bg-img bg-img--4-3" style="background-image: url({{site.img}}/products/{{product.id}}.jpg);"></div>
              </div>
              <div class="product__text">
                <h5 class="title title--xxs text--bolder">{{product.title}}</h5>
                <span>{{product.description}}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="text--center">
      <a href="#" class="btn btn--solid btn--lg">View all products</a>
    </div>

  </div>

  <hr class="hr--center">

  <div class="container vpad--xl">
    <div class="text--center">
      <h3 class="title title--md text--upper text--bold">{{page.id}} offers</h3>
      <div class="space--xl"></div>
    </div>
    <div class="row row--xl-6-6 row--gutters-lg">
      {% for offer in offers %}
        <div class="col">
          {% include offer/offer.html %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include page/promo-offers.html %}

{% include page/promo-havaianas.html %}

